body {
  background-color: #74c69d;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  background-color: #1b4332;
  color: white;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 126px;
  border-radius: 20px;
}
.card-body {
  padding: 50px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
button {
  width: 200px;
  border-radius: 20px;
}
p {
  margin: 5px;
  font-size: 20px;
}
#div-regisztracio {
  position: unset;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#checkB {
  width: fit-content;
}


@media (width > 900px) {
  .card-body {
    min-width: 900px;
  }
  #div-regisztracio {
    position: absolute;
    left: 60%;
    bottom: 10%;
  }
}
