body {
    background-color: #74c69d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  #cardMain {
    background-color: #1b4332;
    color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
  }
  #cardB1 {
    padding: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .list-group{
    margin-bottom: 10px;
  }
  button {
    width: 200px;
    border-radius: 20px;
  }
  p {
    margin: 5px;
    font-size: 20px;
  }
  input{
    width: 300px;
  }
  @media (width > 900px) {
    .card-body {
      min-width: 900px;
    }
    #div-regisztracio {
      position: absolute;
      left: 60%;
      bottom: 5%;
    }
  }
  